#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-header{
  height: 150px;
  top: 0;
  background-color: #4169E1; /* Royal Blue */;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%; /* cover the full width */
  z-index: 1000; /*ensures it's above the other item */
}

.app-title {
  margin: 0;
  font-size: 2.5rem;
}

.app-subtitle {
  margin: 0;
  font-size: 1.2rem;
  font-style: italic;
}

.card-nav {
  background-color: #303030; /* Dark contrasting background for button badges */
  /* padding: 5px 0; */
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.card-count {
  font-style: italic;
  color: white;
}

.instruction {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

.score-board {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
} 

.container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.card {
  width: 300px;
  height: 180px;
  perspective: 1000px;
  margin: 20px auto;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-back {
  background-color: #e0f7fa;
  transform: rotateY(180deg);
}

.start-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
} 

.start-button:hover {
  background-color: #45a049;
} 

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.answer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.correct {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.wrong {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.correct:hover {
  background-color: #45a049;
}

.wrong:hover {
  background-color: #d32f2f;
}
